body{
    background-color: black;
}

.card{
    width: 400px;
    height: 200px;
    padding: 1px 20px;
    box-sizing: border-box;
    background-image: url(imagens/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:auto;
    margin-top: 10%;    
}



.fonteNome{
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}

ol{
    list-style-type: none;
    margin:0;
    padding: 0;
}

a{
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}